<mat-toolbar>
  <button
    onClick="window.alert('Home button')"
    mat-icon-button
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"
      >menu</mat-icon
    >
  </button>
  <span>Applicant Questionnaire</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-stepper linear #stepper>
  <mat-step fxLayout="column" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field class="formField">
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstCtrl"
          placeholder="Last name, First name"
          required
        />
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="firstCtrl"
          placeholder="Last name, First name"
          required
        />
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>Degree</mat-label>
        <input
          matInput
          formControlName="firstCtrl"
          placeholder="Last name, First name"
          required
        />
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>Personal ID number</mat-label>
        <input
          matInput
          formControlName="firstCtrl"
          placeholder="Last name, First name"
          required
        />
      </mat-form-field>

      <mat-form-field class="formField">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

<router-outlet></router-outlet>
